.wrapper{
	width: 80vw;
	height: 100vh;
	margin-left: 20vw;
	background-image: url(./wave.svg);
	background-repeat: no-repeat;
	z-index: -1;
}
.wrapper > h1{
	margin: 0;
	width: 800px;
	font-size: 60px;
	color: white;
}
.container{
	width: 80%;
	padding-top: 10vh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
	column-gap: 40px;
	row-gap: 40px;
}