.sidebarContainer{
  height: 100vh;
  width:20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  position: fixed;
}
.sidebar {
  position: fixed;
  animation: navigation 0.75s;
  text-align: center;
  
}
.sidebar > h1 {
  font-size: 40px;
  margin-bottom: 50px;
}
.sidebar p {
  color: #a39696;
  margin: 6vh 0;
  font-size: 20px;
  cursor: pointer;
}
.sidebar > button {
  border: none;
  background-color: rgb(228, 80, 80);
  padding: 15px 60px;
  border-radius: 30px;
  font-size: 25px;
  color: white;
  margin-top: 5vh;
}
@media screen and (min-width: 1366px) {
  .sidebarContainer{
  }
}
@media screen and (max-width: 1365px) {
  .sidebarContainer{
  }
}
@media screen and (max-width: 500px) {
  .sidebarContainer{
  }
}
@keyframes navigation {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0%);
  }
}
